In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import matplotlib.pyplot as plt

In [35]:
balances_df = pd.read_csv('data/balances.csv', index_col = 'Date', parse_dates=True)

In [36]:
balances_df

                   Balance
Date
2014-10-24  $1,056,660.89
2014-10-25  $1,056,660.89
2014-10-26  $1,056,660.89
2014-10-27  $1,058,791.46
2014-10-28  $1,074,800.26
2014-10-29  $1,069,208.68
2014-10-30  $1,069,562.49
2014-10-31  $1,073,896.64
2014-11-01  $1,073,896.64
2014-11-02  $1,073,896.64
2014-11-03  $1,071,237.24
2014-11-04  $1,072,404.14
2014-11-05  $1,075,180.22
2014-11-06  $1,086,847.32
2014-11-07  $1,089,427.47
2014-11-08  $1,089,427.47
2014-11-09  $1,089,427.47
2014-11-10  $1,089,503.49
2014-11-11  $1,088,027.69
2014-11-12  $1,089,056.82
2014-11-13  $1,086,921.54
2014-11-14  $1,084,229.14
2014-11-15  $1,084,229.14
2014-11-16  $1,084,229.14
2014-11-17  $1,076,170.70
2014-11-18  $1,078,934.02
2014-11-19  $1,068,187.52
2014-11-20  $1,080,389.98
2014-11-21  $1,091,391.84
2014-11-22  $1,091,391.84
...                    ...
2015-09-17  $1,577,542.21
2015-09-18  $1,542,419.79
2015-09-19  $1,542,419.79
2015-09-20  $1,542,419.79
2015-09-21  $1,551,214.17
2015-09-22  $1,548,046.73
2015-09-23  $1,544,391.09
2015-09-24  $1,547,225.18
2015-09-25  $1,539,417.55
2015-09-26  $1,539,417.55
2015-09-27  $1,539,417.55
2015-09-28  $1,501,877.27
2015-09-29  $1,504,240.02
2015-09-30  $1,531,474.01
2015-10-01  $1,511,116.91
2015-10-02  $1,534,076.99
2015-10-03  $1,534,076.99
2015-10-04  $1,534,076.99
2015-10-05  $1,563,273.04
2015-10-06  $1,559,990.41
2015-10-07  $1,580,788.00
2015-10-08  $1,586,950.94
2015-10-09  $1,591,126.71
2015-10-10  $1,591,126.71
2015-10-11  $1,591,126.71
2015-10-12  $1,603,422.16
2015-10-13  $1,588,502.92
2015-10-14  $1,584,986.54
2015-10-15  $1,610,959.34
2015-10-16  $1,615,710.00

[358 rows x 1 columns]

In [29]:
dates = pd.date_range('20150101',periods=6)

In [30]:
dates

DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-03', '2015-01-04',
               '2015-01-05', '2015-01-06'],
              dtype='datetime64[ns]', freq='D')

In [32]:
balances_df.ix[dates]

                   Balance
2015-01-01  $1,154,534.62
2015-01-02  $1,159,671.15
2015-01-03  $1,159,671.15
2015-01-04  $1,159,671.15
2015-01-05  $1,153,657.02
2015-01-06  $1,149,860.63

Date
2014-10-24   NaN
2014-10-25   NaN
2014-10-26   NaN
2014-10-27   NaN
2014-10-28   NaN
2014-10-29   NaN
2014-10-30   NaN
2014-10-31   NaN
2014-11-01   NaN
2014-11-02   NaN
2014-11-03   NaN
2014-11-04   NaN
2014-11-05   NaN
2014-11-06   NaN
2014-11-07   NaN
2014-11-08   NaN
2014-11-09   NaN
2014-11-10   NaN
2014-11-11   NaN
2014-11-12   NaN
2014-11-13   NaN
2014-11-14   NaN
2014-11-15   NaN
2014-11-16   NaN
2014-11-17   NaN
2014-11-18   NaN
2014-11-19   NaN
2014-11-20   NaN
2014-11-21   NaN
2014-11-22   NaN
              ..
2015-09-17   NaN
2015-09-18   NaN
2015-09-19   NaN
2015-09-20   NaN
2015-09-21   NaN
2015-09-22   NaN
2015-09-23   NaN
2015-09-24   NaN
2015-09-25   NaN
2015-09-26   NaN
2015-09-27   NaN
2015-09-28   NaN
2015-09-29   NaN
2015-09-30   NaN
2015-10-01   NaN
2015-10-02   NaN
2015-10-03   NaN
2015-10-04   NaN
2015-10-05   NaN
2015-10-06   NaN
2015-10-07   NaN
2015-10-08   NaN
2015-10-09   NaN
2015-10-10   NaN
2015-10-11   NaN
2015-10-12   NaN
2015-10-13   NaN
2015-10-14   NaN
2015-10-15   NaN
2015-10-16   NaN
dtype: float64